* {
  box-sizing: border-box;
  font-family: 'Public Sans', 'PT Sans', sans-serif !important;

  --corvid-blue: #23356B;
  --corvid-primary: #6FA5ED;
  --corvid-primary-hover: hsl(214, 78%, 60%);
  --corvid-blue-25: rgba(35, 53, 107, .25);
  --corvid-blue-50: rgba(35, 53, 107, .50);
  --corvid-primary-25: rgba(111, 165, 237, .25);
}

#root {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
}