.theme-btn {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.05);
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.theme-btn:hover {
    background-color: rgba(255, 255, 255, 0.15);
}